body{
    background-color: rgb(45, 109, 109);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    background-color: rgb(67, 92, 24);
}
.kirim{
    background-color: rgb(67, 18, 92);
    color: rgb(85, 114, 85);
    
}
.reset{
    background-color: rgb(15, 109, 109);
    color: rgb(14, 15, 15);
   
}
.klik{
    background-color: rgb(73, 59, 59);
    color: rgb(51, 36, 36);
}
.btn{
    text-transform: uppercase;
    padding: 5px 20px;
    margin: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(158, 50, 50);
    color: gray;
    text-transform: uppercase;
    border-radius: 5px;
}